body {color: #000;}
h1, h2, h3, h4, h5, h6 {color: #000;}
#footer-widgets .footer-widget a, #footer-widgets .footer-widget li a, #footer-widgets .footer-widget li a:hover {color: #fff;}
.footer-widget {color: #fff;}
.et_slide_in_menu_container, .et_slide_in_menu_container .et-search-field {letter-spacing: px;}
.et_slide_in_menu_container .et-search-field::-moz-placeholder {letter-spacing: px;}
.et_slide_in_menu_container .et-search-field::-webkit-input-placeholder {letter-spacing: px;}
.et_slide_in_menu_container .et-search-field:-ms-input-placeholder {letter-spacing: px;}
@media only screen and (min-width:1350px) {.et_pb_row {padding: 27px 0;}
	.et_pb_section {padding: 54px 0;}
	.single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper {padding-top: 81px;}
	.et_pb_fullwidth_section {padding: 0;}}
h1, h2, h3, h4, h5, h6 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;}
body, input, textarea, select {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;}
div#custom-row .et_pb_column_4_4 .et_pb_grid_item:nth-child(4n+1) {clear: none !important;}
div#custom-row.et_pb_gutters1 .et_pb_column_4_4 .et_pb_grid_item {width: 16.5% !important;}
div#custom-row .et_pb_portfolio_item a {pointer-events: none !important;}
#custom-row .et_pb_portfolio_grid .et_pb_portfolio_item img {width: auto;}
#custom-row {text-align: center;}
@media (max-width:767px) {#div#custom-row .et_gallery_item:nth-child(2n+1), .et_pb_column .et_pb_grid_item:nth-child(2n+1) {clear: none !important;}
	div#custom-row.et_pb_gutters1 .et_pb_column_4_4 .et_pb_grid_item {width: 16.5% !important;}}
.et_pb_post .entry-featured-image-url {float: left;width: 30%;margin-right: 25px;}
.et_pb_column_4_4 .fade .et_pb_grid_item:nth-child(4n) {top: 9px;position: relative;}
.et_pb_posts a.more-link {float: right;}
@media screen and (max-width:980px) {.custom-row {width: 100% !important;}
	.custom-row td {padding: 0 !important;font-size: 13px !important;line-height: 24px !important;}
	.custom-row td:first-child {padding-left: 5px !important;}}
@media screen and (max-width:980px) {.single-post h1, .single-post h2, .single-post h3, .single-post h4, .single-post h5, .single-post h6 {line-height: 1.3em !important;}}
.custom-mobile-spacing .et_pb_fullwidth_header_container {width: 100% !important;}
.et_pb_post a {text-decoration: underline;}
.et_pb_post h2 a {text-decoration: none;}
.et_pb_row p a {text-decoration: underline;}
.et_pb_text_inner a {text-decoration: underline;}
.mobile_menu_bar:before {color: #edb059 !important;}
.et_mobile_menu {border-top: 3px solid #edb059 !important;}
.contact-button {background-color: #39c95e;padding: 0 !important;border-radius: 5px;text-align: center !important;}
.contact-button a {color: #fff !important;padding: 10px 15px !important;}
.contact-button:hover {background-color: #2ab04c;}
.services-sub-menu a {font-size: 14px !important;border-top: 1px solid #e88e20;padding: 10px 5px !important;}
.submenu-arrow {color: #e88e20 !important;}
.sub-menu {border-left: 1px solid #e88e20 !important;border-right: 1px solid #e88e20 !important;border-bottom: 1px solid #e88e20 !important;border-top: 0 !important;padding-bottom: 0 !important;padding-top: 0 !important;}
#footer-bottom .et-social-icon a {color: #edb059;}
#footer-bottom .et-social-icon a:hover {color: #ac8145;}
.et_pb_section_0.et_pb_section {padding-top: 50px;padding-bottom: 0px;background-color: rgba(255,255,255,.95) !important;}
.et_pb_section_3.et_pb_section {padding-top: 50px;padding-bottom: 0px;background-color: rgba(255,255,255,.95) !important;}
.et_pb_section_6.et_pb_section {padding-top: 50px;padding-bottom: 0px;background-color: rgba(255,255,255,.95) !important;}
.et_pb_row_18.et_pb_row {padding-top: 18px !important;padding-top: 18px;padding-right: 0px !important;padding-right: 0px;padding-bottom: 25px !important;padding-bottom: 25px;padding-left: 0px !important;padding-left: 0px;margin-top: -4px !important;margin-right: auto !important;margin-left: auto !important;}
.et_pb_row_0.et_pb_row {padding-top: 18px !important;padding-top: 18px;padding-right: 0px !important;padding-right: 0px;padding-bottom: 25px !important;padding-bottom: 25px;padding-left: 0px !important;padding-left: 0px;margin-top: -4px !important;margin-right: auto !important;margin-left: auto !important;}
.et_pb_row_9.et_pb_row {padding-top: 18px !important;padding-top: 18px;padding-right: 0px !important;padding-right: 0px;padding-bottom: 25px !important;padding-bottom: 25px;padding-left: 0px !important;padding-left: 0px;margin-top: -4px !important;margin-right: auto !important;margin-left: auto !important;}
.et_pb_text_4 {font-size: 20px;min-height: 68px;padding-top: 9px !important;}
.et_pb_text_8 {font-size: 20px;min-height: 68px;padding-top: 9px !important;}
.et_pb_text_0 {font-size: 20px;min-height: 68px;padding-top: 9px !important;}
.et_pb_text_0 h1 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 700;text-decoration-style: dotted;font-size: 3.1rem;color: #e88e20 !important;line-height: 1.2em;text-align: center;}
.et_pb_text_8 h1 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 700;text-decoration-style: dotted;font-size: 3.1rem;color: #e88e20 !important;line-height: 1.2em;text-align: center;}
.et_pb_text_4 h1 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 700;text-decoration-style: dotted;font-size: 3.1rem;color: #e88e20 !important;line-height: 1.2em;text-align: center;}
.et_pb_text_8 h2 {font-size: 40px;line-height: .8em;}
.et_pb_text_0 h2 {font-size: 40px;line-height: .8em;}
.et_pb_text_4 h2 {font-size: 40px;line-height: .8em;}
.et_pb_testimonial_11.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_13.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_32.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_8.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_35.et_pb_testimonial * {color: #000 !important;}
.et_pb_text_5.et_pb_text {color: #000 !important;}
.et_pb_testimonial_12.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_28.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_14.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_15.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_16.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_3.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_20.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_27.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_26.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_23.et_pb_testimonial * {color: #000 !important;}
.et_pb_text_9.et_pb_text {color: #000 !important;}
.et_pb_text_11.et_pb_text {color: #000 !important;}
.et_pb_testimonial_24.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_25.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_4.et_pb_testimonial * {color: #000 !important;}
.et_pb_text_7.et_pb_text {color: #000 !important;}
.et_pb_text_3.et_pb_text {color: #000 !important;}
.et_pb_testimonial_0.et_pb_testimonial * {color: #000 !important;}
.et_pb_text_1.et_pb_text {color: #000 !important;}
.et_pb_testimonial_2.et_pb_testimonial * {color: #000 !important;}
.et_pb_testimonial_1.et_pb_testimonial * {color: #000 !important;}
.et_pb_text_5 p {line-height: 1.6em;}
.et_pb_text_1 p {line-height: 1.6em;}
.et_pb_text_9 p {line-height: 1.6em;}
.et_pb_text_9 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-size: 1.25rem;line-height: 1.6em;padding-top: 23px !important;}
.et_pb_text_1 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-size: 1.25rem;line-height: 1.6em;padding-top: 23px !important;}
.et_pb_text_5 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-size: 1.25rem;line-height: 1.6em;padding-top: 23px !important;}
.et_pb_section_1.et_pb_section {padding-top: 25px;padding-bottom: 85px;background-color: #f7f7f7 !important;}
.et_pb_section_4.et_pb_section {padding-top: 25px;padding-bottom: 85px;background-color: #f7f7f7 !important;}
.et_pb_section_7.et_pb_section {padding-top: 25px;padding-bottom: 85px;background-color: #f7f7f7 !important;}
.et_pb_section_1.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik02NDAgMTQwTDEyODAgMEgweiIvPjwvZz48L3N2Zz4=");background-size: 100% 100px;top: 0;height: 100px;z-index: 1;}
.et_pb_section_4.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik02NDAgMTQwTDEyODAgMEgweiIvPjwvZz48L3N2Zz4=");background-size: 100% 100px;top: 0;height: 100px;z-index: 1;}
.et_pb_section_7.section_has_divider.et_pb_top_divider .et_pb_top_inside_divider {background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik02NDAgMTQwTDEyODAgMEgweiIvPjwvZz48L3N2Zz4=");background-size: 100% 100px;top: 0;height: 100px;z-index: 1;}
.et_pb_section_5.et_pb_section {padding-top: 0%;padding-right: 0px;padding-bottom: 0%;padding-left: 0px;margin-top: -3px;background-color: #f7f7f7 !important;}
.et_pb_section_2.et_pb_section {padding-top: 0%;padding-right: 0px;padding-bottom: 0%;padding-left: 0px;margin-top: -3px;background-color: #f7f7f7 !important;}
.et_pb_section_8.et_pb_section {padding-top: 0%;padding-right: 0px;padding-bottom: 0%;padding-left: 0px;margin-top: -3px;background-color: #f7f7f7 !important;}
.et_pb_row_1.et_pb_row {padding-top: 12px !important;padding-top: 12px;}
.et_pb_row_19.et_pb_row {padding-top: 12px !important;padding-top: 12px;}
.et_pb_row_10.et_pb_row {padding-top: 12px !important;padding-top: 12px;}
.et_pb_text_6 h2 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 600;font-size: 2.3rem;color: #e88e20 !important;text-align: center;}
.et_pb_text_10 h2 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 600;font-size: 2.3rem;color: #e88e20 !important;text-align: center;}
.et_pb_text_2 h2 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 600;font-size: 2.3rem;color: #e88e20 !important;text-align: center;}
.et_pb_text_10 h3 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 600;font-size: 2.2rem;color: #e88e20 !important;text-align: center;}
.et_pb_text_2 h3 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 600;font-size: 2.2rem;color: #e88e20 !important;text-align: center;}
.et_pb_text_6 h3 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-weight: 600;font-size: 2.2rem;color: #e88e20 !important;text-align: center;}
.et_pb_text_6 {margin-top: 11px !important;margin-bottom: -7px !important;}
.et_pb_text_2 {margin-top: 11px !important;margin-bottom: -7px !important;}
.et_pb_text_10 {margin-top: 11px !important;margin-bottom: -7px !important;}
.et_pb_text_3 p {line-height: 1.63em;}
.et_pb_text_7 p {line-height: 1.63em;}
.et_pb_text_11 p {line-height: 1.63em;}
.et_pb_text_11 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-size: 1.25rem;line-height: 1.63em;padding-top: 23px !important;padding-right: 7% !important;padding-left: 7% !important;margin-top: 10px !important;}
.et_pb_text_7 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-size: 1.25rem;line-height: 1.63em;padding-top: 23px !important;padding-right: 7% !important;padding-left: 7% !important;margin-top: 10px !important;}
.et_pb_text_3 {font-family: "Montserrat",Helvetica,Arial,Lucida,sans-serif;font-size: 1.25rem;line-height: 1.63em;padding-top: 23px !important;padding-right: 7% !important;padding-left: 7% !important;margin-top: 10px !important;}
.et_pb_testimonial_0.et_pb_testimonial {background-blend-mode: multiply;background-color: initial;background-color: #fff;background-image: url("/wp-content/uploads/2018/01/background-texture.png"),linear-gradient(1deg,#e88e20 0%,rgba(0,0,0,0) 0%);border-width: 1px;border-color: #696969;}
.et_pb_testimonial_12.et_pb_testimonial {background-blend-mode: multiply;background-color: initial;background-color: #fff;background-image: url("/wp-content/uploads/2018/01/background-texture.png"),linear-gradient(1deg,#e88e20 0%,rgba(0,0,0,0) 0%);border-width: 1px;border-color: #696969;}
.et_pb_testimonial_24.et_pb_testimonial {background-blend-mode: multiply;background-color: initial;background-color: #fff;background-image: url("/wp-content/uploads/2018/01/background-texture.png"),linear-gradient(1deg,#e88e20 0%,rgba(0,0,0,0) 0%);border-width: 1px;border-color: #696969;}
.et_pb_testimonial_17 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_28 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_16 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_10 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_6 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_4 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_29 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_24 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_18 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_30 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_0 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_3 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_27 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_12 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_34 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_22 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_15 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_5 {box-shadow: 0px 0px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_34:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_5:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_25:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_4:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_1:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_3:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_24:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_12:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_13:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_15:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_29:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_10:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_22:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_27:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_6:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_18:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_28:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_17:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_30:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_0:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_16:hover {box-shadow: 0px 0px 15px 1px #000;}
.et_pb_testimonial_13.et_pb_testimonial:before {color: #696969;background-color: #fff;}
.et_pb_testimonial_1.et_pb_testimonial:before {color: #696969;background-color: #fff;}
.et_pb_testimonial_25.et_pb_testimonial:before {color: #696969;background-color: #fff;}
.et_pb_testimonial_12.et_pb_testimonial:before {color: #696969;background-color: #fff;}
.et_pb_testimonial_24.et_pb_testimonial:before {color: #696969;background-color: #fff;}
.et_pb_testimonial_0.et_pb_testimonial:before {color: #696969;background-color: #fff;}
.et_pb_testimonial_12:before {font-size: 1px;border-radius: 1px;top: -.5px;margin-left: -.5px;}
.et_pb_testimonial_0:before {font-size: 1px;border-radius: 1px;top: -.5px;margin-left: -.5px;}
.et_pb_testimonial_24:before {font-size: 1px;border-radius: 1px;top: -.5px;margin-left: -.5px;}
.et_pb_testimonial_25:before {font-size: 1px;border-radius: 1px;top: -.5px;margin-left: -.5px;}
.et_pb_testimonial_13:before {font-size: 1px;border-radius: 1px;top: -.5px;margin-left: -.5px;}
.et_pb_testimonial_1:before {font-size: 1px;border-radius: 1px;top: -.5px;margin-left: -.5px;}
.et_pb_testimonial_24 .et_pb_testimonial_portrait {filter: saturate(138%) brightness(121%);backface-visibility: hidden;}
.et_pb_testimonial_0 .et_pb_testimonial_portrait {filter: saturate(138%) brightness(121%);backface-visibility: hidden;}
.et_pb_testimonial_12 .et_pb_testimonial_portrait {filter: saturate(138%) brightness(121%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_12:hover .et_pb_testimonial_portrait {filter: saturate(138%) brightness(121%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_0:hover .et_pb_testimonial_portrait {filter: saturate(138%) brightness(121%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_24:hover .et_pb_testimonial_portrait {filter: saturate(138%) brightness(121%);}
.et_pb_testimonial_25.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;padding-top: 32px !important;}
.et_pb_testimonial_13.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;padding-top: 32px !important;}
.et_pb_testimonial_1.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;padding-top: 32px !important;}
.et_pb_testimonial_1 {box-shadow: 0px 0px 15px 1px #696969;}
.et_pb_testimonial_25 {box-shadow: 0px 0px 15px 1px #696969;}
.et_pb_testimonial_13 {box-shadow: 0px 0px 15px 1px #696969;}
.et_pb_testimonial_13, .et_pb_testimonial_13.et_pb_testimonial:before {transition: box-shadow 300ms ease 0ms,color 300ms ease 0ms;}
.et_pb_testimonial_1, .et_pb_testimonial_1.et_pb_testimonial:before {transition: box-shadow 300ms ease 0ms,color 300ms ease 0ms;}
.et_pb_testimonial_25, .et_pb_testimonial_25.et_pb_testimonial:before {transition: box-shadow 300ms ease 0ms,color 300ms ease 0ms;}
.et_pb_testimonial_1.et_pb_testimonial:hover:before {color: #000;}
.et_pb_testimonial_25.et_pb_testimonial:hover:before {color: #000;}
.et_pb_testimonial_13.et_pb_testimonial:hover:before {color: #000;}
.et_pb_testimonial_18.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_29.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_17.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_31.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_21.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_9.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_22.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_26.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_19.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_10.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_27.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_33.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_30.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_15.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_7.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_34.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_6.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_5.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_14.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_3.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_2.et_pb_testimonial {background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_20 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_19 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_2 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_26 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_32 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_7 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_11 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_35 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_14 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_31 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_23 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_8 {box-shadow: 0px 2px 15px 1px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_20:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_7:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_26:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_32:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_23:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_35:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_8:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_2:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_11:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_31:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_19:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_14:hover {box-shadow: 0px 2px 15px 1px #000;}
.et_pb_testimonial_34:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_30:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_7:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_8:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_2:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_10:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_33:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_6:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_5:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_14:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_15:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_23:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_29:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_35:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_4:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_11:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_3:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_9:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_16:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_17:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_18:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_20:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_27:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_19:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_26:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_21:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_31:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_22:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_32:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_28:before {font-size: 0px;border-radius: 0px;top: -0px;margin-left: -0px;}
.et_pb_testimonial_2 .et_pb_testimonial_portrait {filter: saturate(128%) brightness(200%) contrast(93%);backface-visibility: hidden;}
.et_pb_testimonial_26 .et_pb_testimonial_portrait {filter: saturate(128%) brightness(200%) contrast(93%);backface-visibility: hidden;}
.et_pb_testimonial_14 .et_pb_testimonial_portrait {filter: saturate(128%) brightness(200%) contrast(93%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_2:hover .et_pb_testimonial_portrait {filter: saturate(128%) brightness(200%) contrast(93%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_26:hover .et_pb_testimonial_portrait {filter: saturate(128%) brightness(200%) contrast(93%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_14:hover .et_pb_testimonial_portrait {filter: saturate(128%) brightness(200%) contrast(93%);}
.et_pb_testimonial_3 .et_pb_testimonial_portrait {filter: saturate(147%) brightness(97%) contrast(96%);backface-visibility: hidden;}
.et_pb_testimonial_15 .et_pb_testimonial_portrait {filter: saturate(147%) brightness(97%) contrast(96%);backface-visibility: hidden;}
.et_pb_testimonial_27 .et_pb_testimonial_portrait {filter: saturate(147%) brightness(97%) contrast(96%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_27:hover .et_pb_testimonial_portrait {filter: saturate(147%) brightness(97%) contrast(96%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_15:hover .et_pb_testimonial_portrait {filter: saturate(147%) brightness(97%) contrast(96%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_3:hover .et_pb_testimonial_portrait {filter: saturate(147%) brightness(97%) contrast(96%);}
.et_pb_testimonial_32.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_23.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_8.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_16.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_35.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_11.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_4.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_28.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_20.et_pb_testimonial {background-position: bottom left;background-blend-mode: multiply;background-image: url("/wp-content/uploads/2018/01/background-texture.png");background-color: #fff;background-color: #fff;border-width: 1px;border-color: #696969;}
.et_pb_testimonial_28 .et_pb_testimonial_portrait {filter: saturate(85%) brightness(129%) contrast(103%);backface-visibility: hidden;}
.et_pb_testimonial_16 .et_pb_testimonial_portrait {filter: saturate(85%) brightness(129%) contrast(103%);backface-visibility: hidden;}
.et_pb_testimonial_4 .et_pb_testimonial_portrait {filter: saturate(85%) brightness(129%) contrast(103%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_28:hover .et_pb_testimonial_portrait {filter: saturate(85%) brightness(129%) contrast(103%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_16:hover .et_pb_testimonial_portrait {filter: saturate(85%) brightness(129%) contrast(103%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_4:hover .et_pb_testimonial_portrait {filter: saturate(85%) brightness(129%) contrast(103%);}
.et_pb_testimonial_22.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_34.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_18.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_29.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_17.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_19.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_6.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_30.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_7.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_5.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_21.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_31.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_9.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_33.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_10.et_pb_testimonial * {color: #000 !important;text-align: left;}
.et_pb_testimonial_29 .et_pb_testimonial_portrait {filter: saturate(138%) brightness(101%) contrast(96%);backface-visibility: hidden;}
.et_pb_testimonial_17 .et_pb_testimonial_portrait {filter: saturate(138%) brightness(101%) contrast(96%);backface-visibility: hidden;}
.et_pb_testimonial_5 .et_pb_testimonial_portrait {filter: saturate(138%) brightness(101%) contrast(96%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_17:hover .et_pb_testimonial_portrait {filter: saturate(138%) brightness(101%) contrast(96%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_29:hover .et_pb_testimonial_portrait {filter: saturate(138%) brightness(101%) contrast(96%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_5:hover .et_pb_testimonial_portrait {filter: saturate(138%) brightness(101%) contrast(96%);}
.et_pb_row_5 {background-color: #f7f7f7;}
.et_pb_row_6 {background-color: #f7f7f7;}
.et_pb_row_14 {background-color: #f7f7f7;}
.et_pb_row_23 {background-color: #f7f7f7;}
.et_pb_row_24 {background-color: #f7f7f7;}
.et_pb_row_15 {background-color: #f7f7f7;}
.et_pb_testimonial_30 .et_pb_testimonial_portrait {filter: saturate(176%) brightness(104%) contrast(86%);backface-visibility: hidden;}
.et_pb_testimonial_18 .et_pb_testimonial_portrait {filter: saturate(176%) brightness(104%) contrast(86%);backface-visibility: hidden;}
.et_pb_testimonial_6 .et_pb_testimonial_portrait {filter: saturate(176%) brightness(104%) contrast(86%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_18:hover .et_pb_testimonial_portrait {filter: saturate(176%) brightness(104%) contrast(86%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_6:hover .et_pb_testimonial_portrait {filter: saturate(176%) brightness(104%) contrast(86%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_30:hover .et_pb_testimonial_portrait {filter: saturate(176%) brightness(104%) contrast(86%);}
.et_pb_testimonial_7 .et_pb_testimonial_portrait {filter: saturate(96%) brightness(105%) contrast(95%);backface-visibility: hidden;}
.et_pb_testimonial_31 .et_pb_testimonial_portrait {filter: saturate(96%) brightness(105%) contrast(95%);backface-visibility: hidden;}
.et_pb_testimonial_19 .et_pb_testimonial_portrait {filter: saturate(96%) brightness(105%) contrast(95%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_19:hover .et_pb_testimonial_portrait {filter: saturate(96%) brightness(105%) contrast(95%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_31:hover .et_pb_testimonial_portrait {filter: saturate(96%) brightness(105%) contrast(95%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_7:hover .et_pb_testimonial_portrait {filter: saturate(96%) brightness(105%) contrast(95%);}
.et_pb_row_6.et_pb_row {padding-top: 50px !important;padding-top: 50px;}
.et_pb_row_15.et_pb_row {padding-top: 50px !important;padding-top: 50px;}
.et_pb_row_24.et_pb_row {padding-top: 50px !important;padding-top: 50px;}
.et_pb_testimonial_20 .et_pb_testimonial_portrait {filter: saturate(188%) brightness(159%) contrast(109%);backface-visibility: hidden;}
.et_pb_testimonial_32 .et_pb_testimonial_portrait {filter: saturate(188%) brightness(159%) contrast(109%);backface-visibility: hidden;}
.et_pb_testimonial_8 .et_pb_testimonial_portrait {filter: saturate(188%) brightness(159%) contrast(109%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_20:hover .et_pb_testimonial_portrait {filter: saturate(188%) brightness(159%) contrast(109%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_32:hover .et_pb_testimonial_portrait {filter: saturate(188%) brightness(159%) contrast(109%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_8:hover .et_pb_testimonial_portrait {filter: saturate(188%) brightness(159%) contrast(109%);}
.et_pb_testimonial_9 {box-shadow: 0px 2px 15px 0px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_33 {box-shadow: 0px 2px 15px 0px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_21 {box-shadow: 0px 2px 15px 0px #696969;transition: box-shadow 300ms ease 0ms;}
.et_pb_testimonial_21:hover {box-shadow: 0px 2px 15px 0px #000;}
.et_pb_testimonial_9:hover {box-shadow: 0px 2px 15px 0px #000;}
.et_pb_testimonial_33:hover {box-shadow: 0px 2px 15px 0px #000;}
.et_pb_testimonial_9 .et_pb_testimonial_portrait {filter: saturate(108%) brightness(101%);backface-visibility: hidden;}
.et_pb_testimonial_21 .et_pb_testimonial_portrait {filter: saturate(108%) brightness(101%);backface-visibility: hidden;}
.et_pb_testimonial_33 .et_pb_testimonial_portrait {filter: saturate(108%) brightness(101%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_33:hover .et_pb_testimonial_portrait {filter: saturate(108%) brightness(101%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_9:hover .et_pb_testimonial_portrait {filter: saturate(108%) brightness(101%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_21:hover .et_pb_testimonial_portrait {filter: saturate(108%) brightness(101%);}
.et_pb_testimonial_22 .et_pb_testimonial_portrait {filter: saturate(96%) brightness(154%) contrast(112%);backface-visibility: hidden;}
.et_pb_testimonial_10 .et_pb_testimonial_portrait {filter: saturate(96%) brightness(154%) contrast(112%);backface-visibility: hidden;}
.et_pb_testimonial_34 .et_pb_testimonial_portrait {filter: saturate(96%) brightness(154%) contrast(112%);backface-visibility: hidden;}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_22:hover .et_pb_testimonial_portrait {filter: saturate(96%) brightness(154%) contrast(112%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_10:hover .et_pb_testimonial_portrait {filter: saturate(96%) brightness(154%) contrast(112%);}
html:not(.et_fb_edit_enabled) #et-fb-app .et_pb_testimonial_34:hover .et_pb_testimonial_portrait {filter: saturate(96%) brightness(154%) contrast(112%);}
.et_pb_video_4 .et_pb_video_overlay_hover:hover {background-color: rgba(0,0,0,.6);}
.et_pb_video_3 .et_pb_video_overlay_hover:hover {background-color: rgba(0,0,0,.6);}
.et_pb_video_2 .et_pb_video_overlay_hover:hover {background-color: rgba(0,0,0,.6);}
.et_pb_video_0 .et_pb_video_overlay_hover:hover {background-color: rgba(0,0,0,.6);}
.et_pb_video_1 .et_pb_video_overlay_hover:hover {background-color: rgba(0,0,0,.6);}
.et_pb_video_5 .et_pb_video_overlay_hover:hover {background-color: rgba(0,0,0,.6);}
@media only screen and (max-width:980px) {.et_pb_text_0 h1 {font-size: 3rem;}
	.et_pb_text_8 h1 {font-size: 3rem;}
	.et_pb_text_4 h1 {font-size: 3rem;}
	.et_pb_text_1 {font-size: 1rem;}
	.et_pb_text_9 {font-size: 1rem;}
	.et_pb_text_5 {font-size: 1rem;}
	.et_pb_text_10 h3 {font-size: 2rem;}
	.et_pb_text_10 h2 {font-size: 2rem;}
	.et_pb_text_6 h3 {font-size: 2rem;}
	.et_pb_text_6 h2 {font-size: 2rem;}
	.et_pb_text_2 h3 {font-size: 2rem;}
	.et_pb_text_2 h2 {font-size: 2rem;}
	.et_pb_text_7 {font-size: 1rem;padding-right: 0% !important;padding-left: 0% !important;}
	.et_pb_text_3 {font-size: 1rem;padding-right: 0% !important;padding-left: 0% !important;}
	.et_pb_text_11 {font-size: 1rem;padding-right: 0% !important;padding-left: 0% !important;}
	.et_pb_testimonial_12.et_pb_testimonial {background-color: initial;}
	.et_pb_testimonial_0.et_pb_testimonial {background-color: initial;}
	.et_pb_testimonial_24.et_pb_testimonial {background-color: initial;}}
@media only screen and (max-width:767px) {.et_pb_text_0 h1 {font-size: 2.2rem;}
	.et_pb_text_8 h1 {font-size: 2.2rem;}
	.et_pb_text_4 h1 {font-size: 2.2rem;}
	.et_pb_testimonial_24.et_pb_testimonial {background-image: linear-gradient(1deg,#e88e20 0%,rgba(0,0,0,0) 0%);background-color: #fff;}
	.et_pb_testimonial_12.et_pb_testimonial {background-image: linear-gradient(1deg,#e88e20 0%,rgba(0,0,0,0) 0%);background-color: #fff;}
	.et_pb_testimonial_0.et_pb_testimonial {background-image: linear-gradient(1deg,#e88e20 0%,rgba(0,0,0,0) 0%);background-color: #fff;}
	.et_pb_testimonial_30.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_29.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_28.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_27.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_20.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_25.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_31.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_32.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_33.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_34.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_23.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_22.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_21.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_26.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_17.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_19.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_7.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_1.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_2.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_3.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_4.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_5.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_6.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_8.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_18.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_9.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_10.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_11.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_13.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_14.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_15.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_16.et_pb_testimonial {background-image: initial;}
	.et_pb_testimonial_35.et_pb_testimonial {background-image: initial;}}